body {
  margin: 0;
  height: 90vh;
  background-color: rgb(221, 221, 221);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: rgb(0, 162, 0);
  padding: 0.5rem;
}

header img {
  max-height: 5rem;
}

.home main {
  /* text-align: center; */
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home main h2 {
  margin-bottom: 5rem;
}

.home main a {
  margin: 2rem;
  padding: 0.5rem 2rem;
  outline: none;
  background-color: rgb(0, 162, 0);
  font-size: medium;
  color: white;
}

.home main a:hover {
  background-color: rgb(0, 200, 0);
}

.online-home h2 {
  text-align: center;
}

.admin-login main {
  /* text-align: center; */
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.admin-login main a {
  margin: 5rem;
  padding: 0.5rem 2rem;
  outline: none;
  background-color: rgb(0, 162, 0);
  font-size: medium;
  color: white;
}

.admin-login main label {
  margin-right: 2rem;
}

.faculty-home main {
  /* text-align: center; */
  height: 80vh;
  display: flex;
  justify-content: space-around;
  padding: 1rem 3rem;
}

.faculty-home main .section {
  width: 100%;
  padding: 0.5rem;
}

.my-container {
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.floater {
  float: right;
}

.my-btn {
  width: 100%;
  margin-top: 1rem;
}
